<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" , href="css/stylesheet.css">
        <link rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans|Raleway:400,800,400i" >
        <link rel="stylesheet", href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <%- include('partials/header') %>
        <ul class="liste-accueil" >        
            </br></br>
            <div class="barre_boutons">       

                
                <div class="boutonquiz">
                    <p>
                        <a href=<%= config.urlQuiz %>>
                            <h2><i class="fa fa-question 2x"></i>  Testez vos </br>Connaissances !</h2>
                        </a>
                    </p>
                </div>
                
                <div class="boutonressources">
                    <p>
                        <a href=<%= config.urlQuiz %>>
                            <h2><i class="fa fa-book 2x"></i>  Ressources et </br>Articles informatifs </h2>
                        </a>
                    </p>
                </div>
                
                <div>
                <span class="sideline"></span>                
                </br>
                <li>
                    <span class="dot"></span>
                    <p>Nous avons recensé certaines pratiques qui permettent de respecter
                    les droits des utilisateurs. <strong>Important</strong> Nous les avons classées afin que chacun
                    puisse voir les catégories qui l'intéressent (anonymisation coté objet,
                    anonymisation coté serveur...). Les articles sont diponibles ici : </p>
                    <a href=<%= config.urlResources %>><p> Ressources </p> </a>
                </li>
                <li class="onglets-accueil">
                    <span class="dot"></span>
                    <p> Êtes-vous au point concernant le RGPD et la protection des données ? 
                        </br>Un peu de <strong>sensibilisation</strong>... Pour la culture générale... Concernant le RGPD </p>
                    <a href=<%= config.urlQuiz %>><p>Quiz</p> </a>
                </li>
                </br></br>
                </div>
            </div>
        </ul>
    </br>
    <%- include('partials/footer') %>
    </body>
</html>