<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" , href="css/stylesheet.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <link rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans|Raleway:400,800" >
        <link rel="stylesheet", href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
<%- include('partials/header') %>
<div class="arbo_left">
  <div class ="arborescence">
      <div class ="root_articles">
        <!-- The following is rather heavy writing but it is to avoid redundancy -->
        <% root.forEach(function(root){ %>
          <% if (parent) { %>
            <% if (root.title !== parent.title){ %>
              <a href=<%= root.title.split(' ').join('_') %>>- <%= root.title%></a><br>
            <% } %>
          <% } else { %>
            <% if (root.title !== article.title){ %>
              <a href=<%= root.title.split(' ').join('_') %>>- <%= root.title%></a><br>
            <% } %>
          <% } %>
        <% }) %>
      </div>
      <div class="parent_article">
        <% if(parent){ %>
          <a href=<%= parent.title.split(' ').join('_') %>>- <%= parent.title %></a><br>
        <% } %>
      </div>
      <div class="current_article">
        <a>- <%= article.title %></a><br>
      </div>
      <div class="children_articles">
        <% children.forEach(function(child){ %>
          <a href=<%= child.title.split(' ').join('_') %>>- <%= child.title %></a><br>
          <% }) %>
      </div>
      <div class="siblings_articles">
        <% siblings.forEach(function(sibling){ %>
          <a href=<%= sibling.title.split(' ').join('_') %>>- <%= sibling.title %></a><br>
        <% }) %>
      </div>
    </div>
    <!--Content of the article and buttons to add or moidfy articles.-->
  <div class="core_text_article">
      <h1 class="titre_article"> <%= article.title %></h1>
      <hr>
      <%- content %>
      <br/>
      <hr>
      <p> Si vous souhaitez ajouter un article de même parent que cet article courant, cliquez ici : </p>
      <a href=<%= '../addarticles/' + article.parent.split(' ').join('_') %> class="button" style="width:23%"> Ajouter un article de même parent</a>
      <p> Si vous souhaitez ajouter un article de parent cet article courant, cliquez ici : </p>
      <a href=<%= '../addarticles/' + article.title.split(' ').join('_') %> class="button" style="width:20%"> Ajouter un article descendant</a>
      <p> Pour modifier cet article cliquez ici </p>
      <a href=<%= '../modifyarticles/' + article.title.split(' ').join('_') %> class="button" style="width:13%; margin-bottom:10px;"> Modifier cet article </a>
</div>
</div>
<%- include('partials/footer') %>
    </body>
</html>
