<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" , href="css/stylesheet.css">
        <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">-->
        <link rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans|Raleway:400,800" >
        <!--<link rel="stylesheet", href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
        <!--script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script-->
    </head>
    <body>
      <%- include('partials/header') %>
      <div style="display:flex;flex-direction:column;">
    <div class="resources">
      <a class="image1" style="text-decoration:none" href=<%= root[0].title.split(' ').join('_') %>>
              <img src="resources/blur1.jpg">
      </a>
      <a class="image2" style="text-decoration:none" href=<%= root[1].title.split(' ').join('_') %>>
            <img src="resources/blur2.jpg">
            <div class="w3-display-middle w3-large">Middle</div>
      </a>
    </div>
  </div>
      <!--<div class="core_text">
        <h1> Bienvenue sur la page d'accueil des articles! </h1>
      </div>
      <div class="arborescence">
        <!--<% root.forEach(function(root){ %>
        <a href=<%= root.title.split(' ').join('_') %>><%= root.title%></a><br>
        <% }) %>
      </div>-->


      <%- include('partials/footer') %>
    </body>
</html>
